@{
    ViewBag.Title = "About Grand Circus Cafe";
    ViewBag.Message = "Welcome ";
}

<h3>@ViewBag.Message @ViewBag.CustomerFirstName!</h3>
<br />
<h2>@ViewBag.Title</h2>
<br />
<p>Use this area to provide additional information.</p>
