
@{
    ViewBag.Title = "AdminTool";
}

<h2>Inventory Management</h2>

<table class="table-responsive">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <tc></tc>
    </tr>

</table>

