@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to GC Coffee Shop!</h2><br /><br />

<h3><a href="/Home/Register">Register Here!</a></h3>

<h3><a href="/Home/Browse">Browse our Cyber-Cafe!</a></h3>