
@{
    ViewBag.Title = "Register";
}
<head><script src="~/Validation.js"></script></head>
    <h2>Register</h2>



    <form action="/Home/AddUser"  method="post">
        First Name: <br />
        <input type="text" name="FirstName" id="name" placeholder="Grant" />
        <br />Last Name: <br />
        <input type="text" name="LastName" id="name" placeholder="Chirpus" />
        <br />Email Address: <br />
        <input type="text" name="Email" id="email" placeholder="grant@grandcircus.co" />
        <br /><input type="submit" value="Submit" onclick="return validate()" />
    </form>


<script src="~/Validation.js"></script>
